h1 {
    color: rgb(174, 25, 25);
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th { 
    background-color:#000;
    color:white;
    font-size: 20px;

}
td, th { 
    padding:5px;
}

body {
	background-image: linear-gradient(rgb(241, 235, 235), rgb(236, 246, 151));
	overflow: auto;
}
