h1 {
    color: rgb(124, 51, 51);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th { 
    background-color:#000;
    color:white;
}
td, th { 
    padding:5px;
    border:1px solid #000;
}

body {
	background-image: linear-gradient(rgb(241, 235, 235), rgb(236, 246, 151));
	overflow: auto;
}